<html>
    <%- include("./head.ejs", {title: "About"}); %>
    <body>
        <%- include("./navbar.ejs", { links: links }); %>
        This is the about page!
        <%- include("./footer.ejs"); %>
    </body>
</html>
