<html>
    <head>
        <title>Homepage</title>
    </head>
<body>
    <%- include('navbar', { links: links }) %>
    <% for (let i = 0; i < users.length; i++) { %>
    <%- include('users/user', {user: users[i]}) %>
    <% } %>
</body>
</html>
