<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign up form</title>
    </head>
    <body>
        <h1>Log in</h1>
        <form action="/log-in" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" placeholder="username">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" >
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
