<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Forms And Data Handling</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- action pointing to /create -->
    <form method="POST" action="/create">
      <label for="full-name">Full Name</label>
      <input
        type="text"
        name="fullName"
        placeholder="John Doe"
        id="full-name"
      />
      <button type="submit">Submit Form</button>
    </form>
  </body>
</html>
